@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Iceland-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

#footer {
    position: absolute;
    margin-top: 80em;
    margin-left: 15em;

}

.homelander-img {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
}

.logo-container {
    display: flex;
    position: fixed;
    margin-top: 29em;
    /* justify-content: stretch; */
    align-items: center;
    background-color: rgba(10, 8, 8, 0.43);
    width: 66.7vh;

}

.text-container>p {
    direction: flex;
    justify-content: stretch;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Norse-Bold";
}


.para-one {
    margin-top: 2rem;
    font-size: 2rem;
    /* margin-left: 70vw; */
    margin-left: 70vh;

}


.para-two {
    margin-top: 2em;
    font-size: 2rem;
    margin-left: 70vh;

}

.para-three {
    font-size: 2rem;
    margin-top: 2em;
    margin-left: 70vh;
}

form {
    display: flex;
    flex-direction: row;
    margin-left: 70em;
    margin-top: 15em;
}


.col-one>div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 2rem;
}


.col-two>div {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    gap: 3px;
    font-size: 2rem;
}

input {
    font-size: large;
}

.btn-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-top: 3em;
    margin-left: 5em;


}


.sign-up-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#sidebar-container>footer {
    margin-top: 2%;
}