@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Iceland-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}



.homelander-img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* display: block; */
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.7vw;
    position: absolute;
    margin-top: 29em;
    background-color: rgba(10, 8, 8, 0.43);

}





.para-one {
    margin-top: 2rem;
    font-size: 2rem;
    /* margin-left: 70vw; */
    margin-left: 70vh;

}


.para-two {
    margin-top: 2em;
    font-size: 2rem;
    margin-left: 70vh;

}

.para-three {
    font-size: 2rem;
    margin-top: 2em;
    margin-left: 70vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 65em;
    margin-top: 8%;

}





input:invalid {
    border: 2px red;
}